dj-database-url==0.3.0
Django==1.11.23
django-cors-headers==1.1.0
djangorestframework==3.9.1
drf-nested-routers==0.10.0
gunicorn==19.5.0
psycopg2==2.7.4
PyYAML==5.1
requests==2.8.1
wheel==0.24.0
whitenoise==2.0.4
